<div class="container mt-5">
  <h2>Welcome to Admin Dashboard</h2>
  <a routerLink="/admin/manage-about" class="btn btn-secondary m-2">Manage About</a>
  <a routerLink="/admin/manage-projects" class="btn btn-secondary m-2">Manage Projects</a>
  <a routerLink="/admin/manage-skills" class="btn btn-secondary m-2">Manage Skills</a>
  <a routerLink="/admin/manage-resume" class="btn btn-secondary m-2">Manage Resume</a>
  <a routerLink="/admin/manage-contacts" class="btn btn-secondary m-2">Manage Contact Messages</a>
  <button class="btn btn-danger m-2 float-end" (click)="logout()">Logout</button>
</div>
