<footer class="custom-footer py-5">
  <div class="container">

    <div class="row g-4 text-center text-md-start">

      <!-- About -->
      <div class="col-md-4">
        <h5>About Me</h5>
        <p>
          Full-stack developer building scalable, modern web apps using Angular, .NET, and SQL Server.
        </p>
      </div>

      <!-- Contact -->
      <div class="col-md-4">
        <h5>Contact</h5>

        <p><i class="bi bi-envelope me-2"></i> aliahsan.dev1&#64;gmail.com</p>
        <p><i class="bi bi-telephone me-2"></i> +92-314-1710751</p>
        <p><i class="bi bi-geo-alt me-2"></i> Lahore, Pakistan</p>
      </div>

      <!-- Social -->
      <div class="col-md-4">
        <h5>Follow Me</h5>

        <div class="social-icons">

          <!-- GitHub -->
          <a href="https://github.com/aliahsan9" target="_blank" aria-label="GitHub">
            <i class="bi bi-github"></i>
          </a>

          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/in/ali-ahsan-6895a9315" target="_blank" aria-label="LinkedIn">
            <i class="bi bi-linkedin"></i>
          </a>

          <!-- X -->
          <a href="https://x.com/AliAhsa00861384" target="_blank" aria-label="X">
            <i class="bi bi-twitter-x"></i>
          </a>

         <!-- LeetCode -->
          <a href="https://leetcode.com/u/1a6KAwen5j/" target="_blank" aria-label="LeetCode">
            <svg viewBox="0 0 24 24">
              <path d="M13.48 3.5c-.6 0-1.18.24-1.6.67L4.7 11.34c-.9.9-.9 2.36 0 3.26l7.2 7.17c.43.43 1.01.67 1.6.67h1.12l-8.3-8.3 8.3-8.3h-1.14z"/>
              <path d="M21.3 10.6l-2.2-2.2-1.4 1.4 2.2 2.2c.2.2.2.5 0 .7l-2.2 2.2 1.4 1.4 2.2-2.2c1-1 1-2.6 0-3.6z"/>
            </svg>
          </a>
          <!-- Substack -->
          <a href="https://substack.com/@aliahsan638517" target="_blank" aria-label="Substack">
            <svg viewBox="0 0 24 24">
              <path d="M3 4h18v2H3V4zm0 4h18v2H3V8zm0 4h18v10l-9-5-9 5V12z"/>
            </svg>
          </a>
        </div>
      </div>

    </div>

    <hr />

    <div class="text-center small mt-3">
      © {{ currentYear }} Ali Ahsan. All Rights Reserved.
    </div>

  </div>
</footer>