<nav
  class="navbar custom-navbar shadow-lg px-4"
  data-aos="fade-down"
  data-aos-duration="1000"
>
  <div class="container-fluid">
    <!-- Brand -->
    <img src="PakSchoolsLogo.png" height="50px" width="50px" alt="" />
    <a class="navbar-brand text-glow fw-bold fs-4" routerLink="/">Ali Ahsan</a>

    <!-- Hamburger Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      id="hamburger"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Sidebar Links -->
    <div class="navbar-sidebar" id="sidebar">
      <ul class="navbar-nav gap-3">
        <li
          class="nav-item"
          *ngFor="let link of navLinks; let i = index"
          [attr.data-aos]="'fade-down'"
          [attr.data-aos-delay]="300 + (i * 100)"
          [attr.data-aos-duration]="'800'"
        >
          <a
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link custom-nav-link"
            (click)="closeSidebar()"
          >
            {{ link.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
