<section class="newsletter-section">

  <div class="newsletter-container">

    <span class="newsletter-badge">
      Trusted by Developers & Tech Learners
    </span>

    <h2 class="newsletter-title">
      Engineering Insights <br>
      Delivered Weekly
    </h2>

    <p class="newsletter-description">
      Practical content on Angular, .NET, scalable architecture,
      backend engineering, clean code, and real-world software development.
    </p>

    <form
      class="newsletter-form"
      action="https://app.kit.com/forms/9410292/subscriptions"
      method="post">

      <input
        type="email"
        name="email_address"
        placeholder="Enter your email address"
        aria-label="Email Address"
        required>

      <button type="submit">
        Subscribe
      </button>

    </form>

    <div class="newsletter-footer">
      <span>No spam</span>
      <span>Free forever</span>
      <span>Unsubscribe anytime</span>
    </div>

  </div>

</section>