<div class="blog-page">

  <!-- HERO -->
  <header class="blog-hero">
    <div class="container hero-inner">

      <a routerLink="/blogs" class="back-btn">
        ← Back
      </a>

      <h1 class="title">
        {{ title }}
      </h1>

    </div>
  </header>

  <!-- CONTENT -->
  <main class="blog-content">
    <div class="container">

      <article class="blog-card">

        <div class="markdown-wrapper">
          <markdown [src]="markdownPath"></markdown>
        </div>

      </article>

    </div>
  </main>

</div>