<div class="blog-page">

  <!-- HERO -->
  <section class="blog-hero">

    <div class="container">

      <a routerLink="/blogs" class="back-btn">
        ← Back to Blogs
      </a>

      <h1 class="title">
        {{ title }}
      </h1>

    </div>

  </section>

  <!-- CONTENT -->
  <section class="blog-content-wrapper">

    <div class="container">

      <article class="blog-card">

        <markdown
          [src]="markdownPath">
        </markdown>

      </article>

    </div>

  </section>

</div>